:root {
    --color-white: #ffffff;
    --color-font-secondary: #605e5c;
    --color-font-accent: #201f1e;
    --color--btn-accent: #407ec9;
    --color--notification: #4841ac;
    --color--primary: #eeeded;
}
