.theme-category {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
}
.theme-category__content {
    padding-left: 9px;
}
.theme-category__top {
    border-left: 1px solid var(--color-font-secondary);
    /* padding: 4px 8px; */
    display: flex;
}
.theme-category__line {
    width: 10px;
    height: 10px;
    padding-left: 0;
    border-bottom: 1px solid var(--color-font-secondary);
}
.theme-category__top:last-child {
    border: none;
}
.theme-category__top:last-child .theme-category__line {
    border-left: 1px solid var(--color-font-secondary);
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 4px;
}
.theme-category__info {
    display: flex;

    flex-grow: 1;
}
.theme-category__mention {
    margin-right: 0;
    margin-left: auto;
    display: flex;

    align-items: center;
}
.theme-category__text-inactive {
    color: var(--color--primary);
}
