.category {
    min-height: 32px;
    width: 100%;
    align-content: center;
    padding: 4px;
    color: var(--color-font-secondary);
    display: flex;
    flex-direction: column;
}
.category__name {
    display: flex;
}
